// color palette from https://www.happyhues.co/palettes/15

$color-background: #FAEEE7;
$color-headline: #33272a;
$color-paragraph: #594a4e;
$color-button: #FF8BA7;
$color-button-text: #33272a;

$font-family: Georgia, serif;

$font-size-24: 24px;
$font-size-16: 16px;

$spacing-24: 24px;
$spacing-20: 20px;
$spacing-16: 16px;
$spacing-12: 12px;
$spacing-8: 8px;
$spacing-4: 4px;