@import './styles/styles';

.container {
    background-color: $color-background;
    padding: $spacing-20;
    font-family: $font-family;
    width: 100%;
}

.header {
    background-color: $color-button;
    text-align: center;
    padding: $spacing-24;

    h1 {
        color: $color-headline;
    }
}